@{
    @using System;
    @using System.Web;
    ViewData["Title"] = "Main Menu Page";
    @using Microsoft.AspNetCore.Http
}

<html>
<head>
    <style>
        

    </style>
    
</head>
<body>
   
    <div class="main_menu" align="center">
        <p style="font-weight: bold; font-size: 20px;">Welcome, @Context.Session.GetString("session_firstName") @Context.Session.GetString("session_lastName")!</p>

    </div>

    <h2>View all Orders</h2>
    <div class="row">
        <div class="col-sm-6">
            <button class="send_btn" type="button" onclick="AllOrders()">All Orders</button>
        </div>
    </div>
    <br>
    <h2>View all Bots</h2>
    <div class="row">
        <div class="col-sm-6">
            <button class="send_btn" type="button" onclick="AllRobots()">All Bots</button>
        </div>
    </div>

    

    


    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>
</html>



















































