<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
</head>

<body class="main-layout">

    <!-- end loader -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="container" align="center">
                <div class="row" align="center">
                    <div class="col-md-6 ">
                        <form class="main_form">
                            <h2>Restaurant Sign In </h2>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <input class="contactus" placeholder="Email" type="text" id="credentials">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <input class="contactus" placeholder="Password" type="password" id="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="send_btn" type="button" onclick="ValidateLogin()">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        @*Runs the login function*@
        function ValidateLogin() {
            $.ajax({
                type: "POST",
                url: "/RestaurantLogin/ValidateLogin",
                async: true,
                dataType: "json",
                data: { credentials: $("#credentials").val(), password: $("#password").val() },
                success: function (data) {
                    if (data.errMsg != "") {
                        alert(String(data.errMsg));
                    } else {
                        window.location.href = '/Restaurant/Index';
                    }
                },
                error: function () {
                    return "error";
                }
            });
        }



    </script>
    <!-- end contact -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>